<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zebra.bussiness.mapper.CommodityOrderMapper">

    <resultMap type="CommodityOrder" id="CommodityOrderResult">
        <result property="orderId"    column="order_id"    />
        <result property="orderWay"    column="order_way"    />
        <result property="orderMoney"    column="order_money"    />
        <result property="orderMoenyPay"    column="order_moeny_pay"    />
        <result property="orderMoenyDis"    column="order_moeny_dis"    />
        <result property="orderStatus"    column="order_status"    />
        <result property="orderRefundStatus"    column="order_refund_status"    />
        <result property="orderRemarks"    column="order_remarks"    />
        <result property="userName"    column="user_name"    />
        <result property="userPhone"    column="user_phone"    />
        <result property="userAddress"    column="user_address"    />
        <result property="deliverStatus"    column="deliver_status"    />
        <result property="deliverTime"    column="deliver_time"    />
        <result property="receivingStatus"    column="receiving_status"    />
        <result property="receivingTime"    column="receiving_time"    />
        <result property="expressType"    column="express_type"    />
        <result property="expressNumber"    column="express_number"    />
        <result property="invalidTime"    column="invalid_time"    />
        <result property="payTime"    column="pay_time"    />
        <result property="userId"    column="user_id"    />
        <result property="merchantId"    column="merchant_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateRemarks"    column="update_remarks"    />
        <result property="dataVerFlag"    column="data_ver_flag"    />
    </resultMap>

    <sql id="selectCommodityOrderVo">
        select order_id, order_way, order_money, order_moeny_pay, order_moeny_dis, order_status, order_refund_status, order_remarks, user_name, user_phone, user_address, deliver_status, deliver_time, receiving_status, receiving_time, express_type, express_number, invalid_time, pay_time, user_id, merchant_id, create_time, update_time, update_by, update_remarks, data_ver_flag from t_commodity_order
    </sql>

    <select id="selectCommodityOrderList" parameterType="CommodityOrder" resultMap="CommodityOrderResult">
        <include refid="selectCommodityOrderVo"/>
        <where>
            <if test="orderWay != null "> and order_way = #{orderWay}</if>
            <if test="orderMoney != null "> and order_money = #{orderMoney}</if>
            <if test="orderMoenyPay != null "> and order_moeny_pay = #{orderMoenyPay}</if>
            <if test="orderMoenyDis != null "> and order_moeny_dis = #{orderMoenyDis}</if>
            <if test="orderStatus != null "> and order_status = #{orderStatus}</if>
            <if test="orderRefundStatus != null "> and order_refund_status = #{orderRefundStatus}</if>
            <if test="orderRemarks != null  and orderRemarks != ''"> and order_remarks = #{orderRemarks}</if>
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
            <if test="userPhone != null  and userPhone != ''"> and user_phone = #{userPhone}</if>
            <if test="userAddress != null  and userAddress != ''"> and user_address = #{userAddress}</if>
            <if test="deliverStatus != null "> and deliver_status = #{deliverStatus}</if>
            <if test="deliverTime != null "> and deliver_time = #{deliverTime}</if>
            <if test="receivingStatus != null "> and receiving_status = #{receivingStatus}</if>
            <if test="receivingTime != null "> and receiving_time = #{receivingTime}</if>
            <if test="expressType != null "> and express_type = #{expressType}</if>
            <if test="expressNumber != null  and expressNumber != ''"> and express_number = #{expressNumber}</if>
            <if test="invalidTime != null "> and invalid_time = #{invalidTime}</if>
            <if test="payTime != null "> and pay_time = #{payTime}</if>
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
            <if test="merchantId != null  and merchantId != ''"> and merchant_id = #{merchantId}</if>
            <if test="updateRemarks != null  and updateRemarks != ''"> and update_remarks = #{updateRemarks}</if>
        </where>
    </select>

    <select id="selectCommodityOrderById" parameterType="String" resultMap="CommodityOrderResult">
        <include refid="selectCommodityOrderVo"/>
        where order_id = #{orderId}
    </select>

    <insert id="insertCommodityOrder" parameterType="CommodityOrder">
        insert into t_commodity_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderId != null  and orderId != ''">order_id,</if>
            <if test="orderWay != null ">order_way,</if>
            <if test="orderMoney != null ">order_money,</if>
            <if test="orderMoenyPay != null ">order_moeny_pay,</if>
            <if test="orderMoenyDis != null ">order_moeny_dis,</if>
            <if test="orderStatus != null ">order_status,</if>
            <if test="orderRefundStatus != null ">order_refund_status,</if>
            <if test="orderRemarks != null  and orderRemarks != ''">order_remarks,</if>
            <if test="userName != null  and userName != ''">user_name,</if>
            <if test="userPhone != null  and userPhone != ''">user_phone,</if>
            <if test="userAddress != null  and userAddress != ''">user_address,</if>
            <if test="deliverStatus != null ">deliver_status,</if>
            <if test="deliverTime != null ">deliver_time,</if>
            <if test="receivingStatus != null ">receiving_status,</if>
            <if test="receivingTime != null ">receiving_time,</if>
            <if test="expressType != null ">express_type,</if>
            <if test="expressNumber != null  and expressNumber != ''">express_number,</if>
            <if test="invalidTime != null ">invalid_time,</if>
            <if test="payTime != null ">pay_time,</if>
            <if test="userId != null  and userId != ''">user_id,</if>
            <if test="merchantId != null  and merchantId != ''">merchant_id,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateRemarks != null  and updateRemarks != ''">update_remarks,</if>
            <if test="dataVerFlag != null ">data_ver_flag,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderId != null  and orderId != ''">#{orderId},</if>
            <if test="orderWay != null ">#{orderWay},</if>
            <if test="orderMoney != null ">#{orderMoney},</if>
            <if test="orderMoenyPay != null ">#{orderMoenyPay},</if>
            <if test="orderMoenyDis != null ">#{orderMoenyDis},</if>
            <if test="orderStatus != null ">#{orderStatus},</if>
            <if test="orderRefundStatus != null ">#{orderRefundStatus},</if>
            <if test="orderRemarks != null  and orderRemarks != ''">#{orderRemarks},</if>
            <if test="userName != null  and userName != ''">#{userName},</if>
            <if test="userPhone != null  and userPhone != ''">#{userPhone},</if>
            <if test="userAddress != null  and userAddress != ''">#{userAddress},</if>
            <if test="deliverStatus != null ">#{deliverStatus},</if>
            <if test="deliverTime != null ">#{deliverTime},</if>
            <if test="receivingStatus != null ">#{receivingStatus},</if>
            <if test="receivingTime != null ">#{receivingTime},</if>
            <if test="expressType != null ">#{expressType},</if>
            <if test="expressNumber != null  and expressNumber != ''">#{expressNumber},</if>
            <if test="invalidTime != null ">#{invalidTime},</if>
            <if test="payTime != null ">#{payTime},</if>
            <if test="userId != null  and userId != ''">#{userId},</if>
            <if test="merchantId != null  and merchantId != ''">#{merchantId},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateRemarks != null  and updateRemarks != ''">#{updateRemarks},</if>
            <if test="dataVerFlag != null ">#{dataVerFlag},</if>
        </trim>
    </insert>

    <update id="updateCommodityOrder" parameterType="CommodityOrder">
        update t_commodity_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderWay != null ">order_way = #{orderWay},</if>
            <if test="orderMoney != null ">order_money = #{orderMoney},</if>
            <if test="orderMoenyPay != null ">order_moeny_pay = #{orderMoenyPay},</if>
            <if test="orderMoenyDis != null ">order_moeny_dis = #{orderMoenyDis},</if>
            <if test="orderStatus != null ">order_status = #{orderStatus},</if>
            <if test="orderRefundStatus != null ">order_refund_status = #{orderRefundStatus},</if>
            <if test="orderRemarks != null  and orderRemarks != ''">order_remarks = #{orderRemarks},</if>
            <if test="userName != null  and userName != ''">user_name = #{userName},</if>
            <if test="userPhone != null  and userPhone != ''">user_phone = #{userPhone},</if>
            <if test="userAddress != null  and userAddress != ''">user_address = #{userAddress},</if>
            <if test="deliverStatus != null ">deliver_status = #{deliverStatus},</if>
            <if test="deliverTime != null ">deliver_time = #{deliverTime},</if>
            <if test="receivingStatus != null ">receiving_status = #{receivingStatus},</if>
            <if test="receivingTime != null ">receiving_time = #{receivingTime},</if>
            <if test="expressType != null ">express_type = #{expressType},</if>
            <if test="expressNumber != null  and expressNumber != ''">express_number = #{expressNumber},</if>
            <if test="invalidTime != null ">invalid_time = #{invalidTime},</if>
            <if test="payTime != null ">pay_time = #{payTime},</if>
            <if test="userId != null  and userId != ''">user_id = #{userId},</if>
            <if test="merchantId != null  and merchantId != ''">merchant_id = #{merchantId},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateRemarks != null  and updateRemarks != ''">update_remarks = #{updateRemarks},</if>
            <if test="dataVerFlag != null ">data_ver_flag = #{dataVerFlag},</if>
        </trim>
        where order_id = #{orderId}
    </update>

    <delete id="deleteCommodityOrderById" parameterType="String">
        delete from t_commodity_order where order_id = #{orderId}
    </delete>

    <delete id="deleteCommodityOrderByIds" parameterType="String">
        delete from t_commodity_order where order_id in
        <foreach item="orderId" collection="array" open="(" separator="," close=")">
            #{orderId}
        </foreach>
    </delete>

</mapper>