<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zebra.bussiness.mapper.MerchaninfoMapper">

    <resultMap type="Merchaninfo" id="MerchaninfoResult">
        <result property="merchantId" column="merchant_id"/>
        <result property="merchantName" column="merchant_name"/>
        <result property="merchantAddress" column="merchant_address"/>
        <result property="merchantImg" column="merchant_img"/>
        <result property="merchantBrief" column="merchant_brief"/>
        <result property="merchantIntroduce" column="merchant_introduce"/>
        <result property="merchantCreditCode" column="merchant_credit_code"/>
        <result property="merchantLicenseImg" column="merchant_license_img"/>
        <result property="merchantStatus" column="merchant_status"/>
        <result property="examineStatus" column="examine_status"/>
        <result property="examineDesc" column="examine_desc"/>
        <result property="merchantAttribute" column="merchant_attribute"/>
        <result property="commodityEquity" column="commodity_equity"/>
        <result property="provinceId" column="province_id"/>
        <result property="cityCode" column="city_code"/>
        <result property="deptId" column="dept_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
    </resultMap>

    <sql id="selectMerchaninfoVo">
		select merchant_id, merchant_name, merchant_address,
		merchant_img,
		merchant_brief, merchant_introduce, merchant_credit_code,
		merchant_license_img, merchant_status, examine_status, examine_desc,
		merchant_attribute, commodity_equity, province_id, city_code, dept_id,
		create_time, update_time, update_by from t_merchant_info
	</sql>

    <select id="selectMerchaninfoList" parameterType="Merchaninfo"
            resultMap="MerchaninfoResult">
        select merchant_id, merchant_name, merchant_address,
        merchant_img,
        merchant_brief, merchant_introduce, merchant_credit_code,
        merchant_license_img, merchant_status, examine_status, examine_desc,
        merchant_attribute, commodity_equity, province_id, city_code,
        u.dept_id,
        u.create_time, u.update_time, u.update_by from
        t_merchant_info u
        left join
        sys_dept d on
        u.dept_id = d.dept_id
        <where>
            <if test="merchantName != null  and merchantName != ''">and merchant_name like concat('%', #{merchantName},
                '%')
            </if>
            <if test="merchantAddress != null  and merchantAddress != ''">and merchant_address like concat('%',
                #{merchantAddress}, '%')
            </if>
            <if test="merchantImg != null  and merchantImg != ''">and merchant_img like concat('%', #{merchantImg}, '%')
            </if>
            <if test="merchantCreditCode != null  and merchantCreditCode != ''">and merchant_credit_code like
                concat('%',
                #{merchantCreditCode}, '%')
            </if>
            <if test="merchantStatus != null ">and merchant_status like concat('%', #{merchantStatus},
                '%')
            </if>
            <if test="examineStatus != null ">and examine_status like concat('%', #{examineStatus},
                '%')
            </if>
            <if test="merchantAttribute != null ">and merchant_attribute like concat('%',
                #{merchantAttribute}, '%')
            </if>
            <if test="commodityEquity != null ">and commodity_equity like concat('%',
                #{commodityEquity}, '%')
            </if>
            <if test="provinceId != null  and provinceId != ''">and province_id like concat('%', #{provinceId}, '%')
            </if>
            <if test="cityCode != null  and cityCode != ''">and city_code like concat('%', #{cityCode}, '%')</if>
            <if test="deptId != null and deptId != 0">
                AND (u.dept_id = #{deptId} OR u.dept_id IN ( SELECT
                t.dept_id FROM
                sys_dept t WHERE FIND_IN_SET (#{deptId},ancestors) ))
            </if>
            <if test="params.dataMerchantAuth != null ">and ${params.dataMerchantAuth}</if>
        </where>
        <if test="params.dataOther != null ">${params.dataOther}</if>
    </select>

    <select id="selectMerchaninfoById" parameterType="String"
            resultMap="MerchaninfoResult">
        <include refid="selectMerchaninfoVo"/>
        where merchant_id = #{merchantId}
    </select>

    <insert id="insertMerchaninfo" parameterType="Merchaninfo">
        insert into t_merchant_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="merchantId != null  and merchantId != ''">merchant_id,</if>
            <if test="merchantName != null  and merchantName != ''">merchant_name,</if>
            <if test="merchantAddress != null  and merchantAddress != ''">merchant_address,</if>
            <if test="merchantImg != null  and merchantImg != ''">merchant_img,</if>
            <if test="merchantBrief != null  and merchantBrief != ''">merchant_brief,</if>
            <if test="merchantIntroduce != null  and merchantIntroduce != ''">merchant_introduce,</if>
            <if test="merchantCreditCode != null  and merchantCreditCode != ''">merchant_credit_code,</if>
            <if test="merchantLicenseImg != null  and merchantLicenseImg != ''">merchant_license_img,</if>
            <if test="merchantStatus != null ">merchant_status,</if>
            <if test="examineStatus != null ">examine_status,</if>
            <if test="examineDesc != null  and examineDesc != ''">examine_desc,</if>
            <if test="merchantAttribute != null ">merchant_attribute,</if>
            <if test="commodityEquity != null ">commodity_equity,</if>
            <if test="provinceId != null  and provinceId != ''">province_id,</if>
            <if test="cityCode != null  and cityCode != ''">city_code,</if>
            <if test="deptId != null ">dept_id,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="merchantId != null  and merchantId != ''">#{merchantId},</if>
            <if test="merchantName != null  and merchantName != ''">#{merchantName},</if>
            <if test="merchantAddress != null  and merchantAddress != ''">#{merchantAddress},</if>
            <if test="merchantImg != null  and merchantImg != ''">#{merchantImg},</if>
            <if test="merchantBrief != null  and merchantBrief != ''">#{merchantBrief},</if>
            <if test="merchantIntroduce != null  and merchantIntroduce != ''">#{merchantIntroduce},</if>
            <if test="merchantCreditCode != null  and merchantCreditCode != ''">#{merchantCreditCode},</if>
            <if test="merchantLicenseImg != null  and merchantLicenseImg != ''">#{merchantLicenseImg},</if>
            <if test="merchantStatus != null ">#{merchantStatus},</if>
            <if test="examineStatus != null ">#{examineStatus},</if>
            <if test="examineDesc != null  and examineDesc != ''">#{examineDesc},</if>
            <if test="merchantAttribute != null ">#{merchantAttribute},</if>
            <if test="commodityEquity != null ">#{commodityEquity},</if>
            <if test="provinceId != null  and provinceId != ''">#{provinceId},</if>
            <if test="cityCode != null  and cityCode != ''">#{cityCode},</if>
            <if test="deptId != null ">#{deptId},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
        </trim>
    </insert>

    <update id="updateMerchaninfo" parameterType="Merchaninfo">
        update t_merchant_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="merchantName != null  and merchantName != ''">merchant_name = #{merchantName},</if>
            <if test="merchantAddress != null  and merchantAddress != ''">merchant_address = #{merchantAddress},</if>
            <if test="merchantImg != null  and merchantImg != ''">merchant_img = #{merchantImg},</if>
            <if test="merchantBrief != null  and merchantBrief != ''">merchant_brief = #{merchantBrief},</if>
            <if test="merchantIntroduce != null  and merchantIntroduce != ''">merchant_introduce =
                #{merchantIntroduce},
            </if>
            <if test="merchantCreditCode != null  and merchantCreditCode != ''">merchant_credit_code =
                #{merchantCreditCode},
            </if>
            <if test="merchantLicenseImg != null  and merchantLicenseImg != ''">merchant_license_img =
                #{merchantLicenseImg},
            </if>
            <if test="merchantStatus != null ">merchant_status = #{merchantStatus},</if>
            <if test="examineStatus != null ">examine_status = #{examineStatus},</if>
            <if test="examineDesc != null  and examineDesc != ''">examine_desc = #{examineDesc},</if>
            <if test="merchantAttribute != null ">merchant_attribute = #{merchantAttribute},</if>
            <if test="commodityEquity != null ">commodity_equity = #{commodityEquity},</if>
            <if test="provinceId != null  and provinceId != ''">province_id = #{provinceId},</if>
            <if test="cityCode != null  and cityCode != ''">city_code = #{cityCode},</if>
            <if test="deptId != null ">dept_id = #{deptId},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
        </trim>
        where merchant_id = #{merchantId}
    </update>

    <delete id="deleteMerchaninfoById" parameterType="String">
		delete from
		t_merchant_info where merchant_id = #{merchantId}
	</delete>

    <delete id="deleteMerchaninfoByIds" parameterType="String">
        delete from t_merchant_info where merchant_id in
        <foreach item="merchantId" collection="array" open="("
                 separator="," close=")">
            #{merchantId}
        </foreach>
    </delete>
    <!-- 不能删除 -->
    <select id="selectMerchantByauto" parameterType="Merchaninfo"
            resultMap="MerchaninfoResult">
		SELECT
		merchant_id
		FROM
		t_merchant_info a inner join sys_dept
		d
		on
		a.dept_id=d.dept_id
		WHERE
		1 = 1
		${params.dataScope}
	</select>
</mapper>