<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zebra.bussiness.mapper.CommodityOrderDeputyMapper">

    <resultMap type="CommodityOrderDeputy" id="CommodityOrderDeputyResult">
        <result property="deputyId"    column="deputy_id"    />
        <result property="commodityId"    column="commodity_id"    />
        <result property="commodityCount"    column="commodity_count"    />
        <result property="commodityJson"    column="commodity_json"    />
        <result property="deputyMoney"    column="deputy_money"    />
        <result property="deputyMoenyPay"    column="deputy_moeny_pay"    />
        <result property="deputyMoenyDis"    column="deputy_moeny_dis"    />
        <result property="orderId"    column="order_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="dataVerFlag"    column="data_ver_flag"    />
    </resultMap>

    <sql id="selectCommodityOrderDeputyVo">
        select deputy_id, commodity_id, commodity_count, commodity_json, deputy_money, deputy_moeny_pay, deputy_moeny_dis, order_id, create_time, update_time, update_by, data_ver_flag from t_commodity_order_deputy
    </sql>

    <select id="selectCommodityOrderDeputyList" parameterType="CommodityOrderDeputy" resultMap="CommodityOrderDeputyResult">
        <include refid="selectCommodityOrderDeputyVo"/>
        <where>
            <if test="commodityId != null  and commodityId != ''"> and commodity_id = #{commodityId}</if>
            <if test="commodityCount != null "> and commodity_count = #{commodityCount}</if>
            <if test="commodityJson != null  and commodityJson != ''"> and commodity_json = #{commodityJson}</if>
            <if test="deputyMoney != null  and deputyMoney != ''"> and deputy_money = #{deputyMoney}</if>
            <if test="deputyMoenyPay != null "> and deputy_moeny_pay = #{deputyMoenyPay}</if>
            <if test="deputyMoenyDis != null "> and deputy_moeny_dis = #{deputyMoenyDis}</if>
            <if test="orderId != null  and orderId != ''"> and order_id = #{orderId}</if>
        </where>
    </select>

    <select id="selectCommodityOrderDeputyById" parameterType="String" resultMap="CommodityOrderDeputyResult">
        <include refid="selectCommodityOrderDeputyVo"/>
        where deputy_id = #{deputyId}
    </select>

    <insert id="insertCommodityOrderDeputy" parameterType="CommodityOrderDeputy">
        insert into t_commodity_order_deputy
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deputyId != null  and deputyId != ''">deputy_id,</if>
            <if test="commodityId != null  and commodityId != ''">commodity_id,</if>
            <if test="commodityCount != null ">commodity_count,</if>
            <if test="commodityJson != null  and commodityJson != ''">commodity_json,</if>
            <if test="deputyMoney != null  and deputyMoney != ''">deputy_money,</if>
            <if test="deputyMoenyPay != null ">deputy_moeny_pay,</if>
            <if test="deputyMoenyDis != null ">deputy_moeny_dis,</if>
            <if test="orderId != null  and orderId != ''">order_id,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="dataVerFlag != null ">data_ver_flag,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deputyId != null  and deputyId != ''">#{deputyId},</if>
            <if test="commodityId != null  and commodityId != ''">#{commodityId},</if>
            <if test="commodityCount != null ">#{commodityCount},</if>
            <if test="commodityJson != null  and commodityJson != ''">#{commodityJson},</if>
            <if test="deputyMoney != null  and deputyMoney != ''">#{deputyMoney},</if>
            <if test="deputyMoenyPay != null ">#{deputyMoenyPay},</if>
            <if test="deputyMoenyDis != null ">#{deputyMoenyDis},</if>
            <if test="orderId != null  and orderId != ''">#{orderId},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="dataVerFlag != null ">#{dataVerFlag},</if>
        </trim>
    </insert>

    <update id="updateCommodityOrderDeputy" parameterType="CommodityOrderDeputy">
        update t_commodity_order_deputy
        <trim prefix="SET" suffixOverrides=",">
            <if test="commodityId != null  and commodityId != ''">commodity_id = #{commodityId},</if>
            <if test="commodityCount != null ">commodity_count = #{commodityCount},</if>
            <if test="commodityJson != null  and commodityJson != ''">commodity_json = #{commodityJson},</if>
            <if test="deputyMoney != null  and deputyMoney != ''">deputy_money = #{deputyMoney},</if>
            <if test="deputyMoenyPay != null ">deputy_moeny_pay = #{deputyMoenyPay},</if>
            <if test="deputyMoenyDis != null ">deputy_moeny_dis = #{deputyMoenyDis},</if>
            <if test="orderId != null  and orderId != ''">order_id = #{orderId},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="dataVerFlag != null ">data_ver_flag = #{dataVerFlag},</if>
        </trim>
        where deputy_id = #{deputyId}
    </update>

    <delete id="deleteCommodityOrderDeputyById" parameterType="String">
        delete from t_commodity_order_deputy where deputy_id = #{deputyId}
    </delete>

    <delete id="deleteCommodityOrderDeputyByIds" parameterType="String">
        delete from t_commodity_order_deputy where deputy_id in
        <foreach item="deputyId" collection="array" open="(" separator="," close=")">
            #{deputyId}
        </foreach>
    </delete>

</mapper>