<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wms.oms.mapper.CustomerMapper">

    <resultMap type="com.wms.oms.domain.Customer" id="CustomerResult">
        <result property="id"    column="id"    />
        <result property="sn"    column="sn"    />
        <result property="customerName"    column="customer_name"    />
        <result property="customerType"    column="customer_type"    />
        <result property="customerLevel"    column="customer_level"    />
        <result property="balanceDate"    column="balance_date"    />
        <result property="firstGet"    column="first_get"    />
        <result property="firstPreGet"    column="first_pre_get"    />
        <result property="taxIdentity"    column="tax_identity"    />
        <result property="bankInfo"    column="bank_info"    />
        <result property="bankNum"    column="bank_num"    />
        <result property="sellerId"    column="seller_id"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="tenantId"    column="tenant_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <collection property="customerContactsList" ofType="com.wms.oms.domain.CustomerContacts" resultMap="CustomerContactsResult"/>
    </resultMap>

    <resultMap type="com.wms.oms.domain.CustomerContacts" id="CustomerContactsResult">
        <result property="id"    column="customer_contacts_id"    />
        <result property="name"    column="name"    />
        <result property="phone"    column="phone"    />
        <result property="tel"    column="tel"    />
        <result property="email"    column="email"    />
        <result property="address"    column="address"    />
        <result property="isDefault"    column="is_default"    />
        <result property="customerId"    column="customer_id"    />
    </resultMap>

    <sql id="selectCustomerListVo">
        select id, sn, customer_name, customer_type, customer_level, balance_date, first_get, first_pre_get, tax_identity, bank_info, bank_num, seller_id, del_flag, tenant_id, create_by, create_time, update_by, update_time from wms_customer
    </sql>

    <sql id="selectCustomerVo">
        SELECT
            wc.id,
            wc.sn,
            wc.customer_name,
            wc.customer_type,
            wc.customer_level,
            wc.balance_date,
            wc.first_get,
            wc.first_pre_get,
            wc.tax_identity,
            wc.bank_info,
            wc.bank_num,
            wc.seller_id,
            wc.del_flag,
            wc.tenant_id,
            wc.create_by,
            wc.create_time,
            wc.update_by,
            wc.update_time,
            wcc.`id` AS `customer_contacts_id`,
            wcc.`name`,
            wcc.`phone`,
            wcc.`tel`,
            wcc.`email`,
            wcc.`is_default`,
            wcc.`address`,
            wcc.`customer_id`
        FROM
            wms_customer AS wc LEFT JOIN wms_customer_contacts AS wcc ON wc.`id` = wcc.`customer_id`
    </sql>

    <select id="selectById" parameterType="Long" resultMap="CustomerResult">
        <include refid="selectCustomerVo"/>
     WHERE wc.id = #{id}
    </select>


</mapper>