<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wms.oms.mapper.ProductDtoMapper">

    <resultMap type="com.wms.oms.domain.dto.ProductDto" id="ProductSkuResult">
        <result property="id"    column="id"    />
        <result property="sn"    column="sn"    />
        <result property="categoryId"    column="category_id"    />
        <result property="isSpec"  column="is_spec"/>
        <result property="productName"    column="product_name"    />
        <result property="barCode"    column="bar_code"    />
        <result property="specifications"    column="specifications"    />
        <result property="productId"    column="product_id"    />
        <result property="salePrice"    column="sale_price"    />
        <result property="tradePrice"    column="trade_price"    />
        <result property="vipPrice"    column="vip_price"    />
        <result property="discount1"    column="discount1"    />
        <result property="discount2"    column="discount2"    />
        <result property="purchasePrice"    column="purchase_price"    />
        <result property="images"    column="images"    />
        <result property="remark"    column="remark"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="tenantId"    column="tenant_id"    />

        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectProductDtoVo">
        SELECT
            s.`id`,
            s.`sn`,
            s.`bar_code`,
            s.`images`,
            s.`sale_price`,
            s.`trade_price`,
            s.`vip_price`,
            s.`remark`,
            p.`del_flag`,
            p.`is_spec`,
            p.`tenant_id`,
            p.`product_name`,
            p.`sn` AS psn,
            p.`category_id`
        FROM
            `wms_product_sku` s
                LEFT JOIN `wms_product` p
                          ON s.`product_id` = p.`id`
    </sql>

    <select id="selectList" resultMap="ProductSkuResult">
     <include refid="selectProductDtoVo"></include>
        ${ew.customSqlSegment}
    </select>

</mapper>