<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wms.oms.mapper.SaleOrderMapper">

    <resultMap type="com.wms.oms.domain.SaleOrder" id="SaleOrderResult">
        <result property="id"    column="id"    />
        <result property="sn"    column="sn"    />
        <result property="customerId"    column="customer_id"    />
        <result property="workerId"    column="worker_id"    />
        <result property="billDate"    column="bill_date"    />
        <result property="address"    column="address"    />
        <result property="inventoryType"    column="inventory_type"    />
        <result property="inventoryStatus"    column="inventory_status"    />
        <result property="discountRate"    column="discount_rate"    />
        <result property="discountAmount"    column="discount_amount"    />
        <result property="totalAmount"    column="total_amount"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="tenantId"    column="tenant_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <association property="customer" javaType="com.wms.oms.domain.Customer" resultMap="CustomerResult"/>
        <collection property="saleOrderItemList" ofType="com.wms.oms.domain.SaleOrderItem" resultMap="SaleOrderItemResult"/>
    </resultMap>


    <resultMap type="com.wms.oms.domain.Customer" id="CustomerResult">
        <result property="customerName"    column="customer_name"    />
    </resultMap>

    <resultMap type="com.wms.oms.domain.SaleOrderItem" id="SaleOrderItemResult">
        <result property="id"    column="item_id"    />
        <result property="saleOrderId"    column="sale_order_id"    />
        <result property="productId"    column="product_id"    />
        <result property="warehouseId"    column="warehouse_id"    />
        <result property="price"    column="price"    />
        <result property="qty"    column="qty"    />
        <result property="discountRate"    column="discount_rate"    />
        <result property="discountAmount"    column="discount_amount"    />
        <result property="amount"    column="amount"    />
    </resultMap>

    <sql id="selectSaleOrderListVo">
        SELECT
            wso.id,
            wso.sn,
            wso.customer_id,
            wso.worker_id,
            wso.bill_date,
            wso.address,
            wso.inventory_type,
            wso.inventory_status,
            wso.discount_rate,
            wso.discount_amount,
            wso.total_amount,
            wso.del_flag,
            wso.tenant_id,
            wso.create_by,
            wso.create_time,
            wso.update_by,
            wso.update_time,
            wso.remark,
            wc.customer_name
        FROM
            wms_sale_order AS wso LEFT JOIN wms_customer AS wc ON wso.customer_id = wc.id
    </sql>


    <sql id="selectSaleOrderVo">
        SELECT
            wso.id,
            wso.sn,
            wso.customer_id,
            wso.worker_id,
            wso.bill_date,
            wso.address,
            wso.inventory_type,
            wso.inventory_status,
            wso.discount_rate,
            wso.discount_amount,
            wso.total_amount,
            wso.del_flag,
            wso.tenant_id,
            wso.create_by,
            wso.create_time,
            wso.update_by,
            wso.update_time,
            wso.remark,
            wc.customer_name,
            wsoi.id AS item_id,
            wsoi.qty,
            wsoi.amount,
            wsoi.discount_amount,
            wsoi.discount_rate,
            wsoi.price,
            wsoi.product_id,
            wsoi.warehouse_id
        FROM
            wms_sale_order AS wso
                LEFT JOIN wms_customer AS wc ON wso.customer_id = wc.id
                LEFT JOIN wms_sale_order_item AS wsoi ON wso.id = wsoi.sale_order_id
    </sql>



    <select id="selectList" resultMap="SaleOrderResult">
        <include refid="selectSaleOrderListVo"></include>
        ${ew.customSqlSegment}
    </select>

    <select id="selectById" resultMap="SaleOrderResult">
        <include refid="selectSaleOrderVo"></include>
        WHERE wso.id = #{id}
    </select>

</mapper>