<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wms.oms.mapper.SupplierMapper">

    <resultMap type="com.wms.oms.domain.Supplier" id="SupplierResult">
        <result property="id"    column="id"    />
        <result property="sn"    column="sn"    />
        <result property="supplierName"    column="supplier_name"    />
        <result property="supplierType"    column="supplier_type"    />
        <result property="balanceDate"    column="balance_date"    />
        <result property="firstPay"    column="first_pay"    />
        <result property="firstPrePay"    column="first_pre_pay"    />
        <result property="taxIdentity"    column="tax_identity"    />
        <result property="taxRate"    column="tax_rate"    />
        <result property="bankInfo"    column="bank_info"    />
        <result property="bankNum"    column="bank_num"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="tenantId"    column="tenant_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"     column="remark"/>
        <collection property="supplierContactsList" ofType="com.wms.oms.domain.SupplierContacts" resultMap="SupplierContactsResult"/>
    </resultMap>

    <resultMap type="com.wms.oms.domain.SupplierContacts" id="SupplierContactsResult">
        <result property="id"    column="wsc_id"    />
        <result property="name"    column="name"    />
        <result property="phone"    column="phone"    />
        <result property="tel"    column="tel"    />
        <result property="email"    column="email"    />
        <result property="address"    column="address"    />
        <result property="isDefault"    column="is_default"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="supplierId"    column="supplier_id"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectSupplierListVo">
        select id, sn, supplier_name, supplier_type, balance_date, first_pay, first_pre_pay, tax_identity, tax_rate, bank_info, bank_num, del_flag, tenant_id, create_by, create_time, update_by, update_time from wms_supplier
    </sql>

    <sql id="selectSupplierVo">
        SELECT
            ws.id,
            ws.sn,
            ws.supplier_name,
            ws.supplier_type,
            ws.balance_date,
            ws.first_pay,
            ws.first_pre_pay,
            ws.tax_identity,
            ws.tax_rate,
            ws.bank_info,
            ws.bank_num,
            ws.del_flag,
            ws.tenant_id,
            ws.create_by,
            ws.create_time,
            ws.update_by,
            ws.update_time,
            wsc.`id` AS wsc_id,
            wsc.`name`,
            wsc.`address`,
            wsc.`email`,
            wsc.`is_default`,
            wsc.`phone`,
            wsc.`tel`
        FROM
            wms_supplier AS ws
                LEFT JOIN wms_supplier_contacts AS wsc
                          ON ws.`id` = wsc.`supplier_id`
    </sql>

    <select id="selectById" parameterType="Long" resultMap="SupplierResult">
        <include refid="selectSupplierVo"/>
        WHERE ws.id = #{id}
    </select>

</mapper>