<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wms.oms.mapper.WarehouseMapper">

    <resultMap type="com.wms.oms.domain.Warehouse" id="WarehouseResult">
        <result property="id"    column="id"    />
        <result property="sn"    column="sn"    />
        <result property="warehouseName"    column="warehouse_name"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="tenantId"    column="tenant_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"     column="remark"/>
    </resultMap>

    <sql id="selectWarehouseVo">
        select id, sn, warehouse_name, del_flag, tenant_id, create_by, create_time, update_by, update_time, remark from wms_warehouse
    </sql>

</mapper>