<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zebra.bussiness.cms.mapper.CmsCategoryMapper">

    <resultMap type="CmsCategory" id="CmsCategoryResult">
        <result property="categoryId" column="category_id"/>
        <result property="categoryName" column="category_name"/>
        <result property="categoryParentId" column="category_parent_id"/>
        <result property="categoryAncestors" column="category_ancestors"/>
        <result property="categorySort" column="category_sort"/>
        <result property="categoryDescription" column="category_description"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="categoryStatus" column="category_status"/>
        <result property="delFlag" column="del_flag"/>
        <result property="parentName" column="parent_name"/>
    </resultMap>

    <sql id="selectCmsCategoryVo">
        select category_id, category_name, category_parent_id, category_ancestors, category_sort, category_description, create_time, update_time, update_by, category_status, del_flag from cms_category
    </sql>

    <select id="selectCmsCategoryList" parameterType="CmsCategory" resultMap="CmsCategoryResult">
        <include refid="selectCmsCategoryVo"/>
        <where>
            <if test="categoryName != null  and categoryName != ''">and category_name like concat('%', #{categoryName},
                '%')
            </if>
            <if test="categoryParentId != null ">and category_parent_id = #{categoryParentId}</if>
            <if test="categoryAncestors != null  and categoryAncestors != ''">and category_ancestors =
                #{categoryAncestors}
            </if>
            <if test="categorySort != null ">and category_sort = #{categorySort}</if>
            <if test="categoryDescription != null  and categoryDescription != ''">and category_description =
                #{categoryDescription}
            </if>
            <if test="categoryStatus != null ">and category_status = #{categoryStatus}</if>
        </where>
        order by category_parent_id
    </select>

    <select id="selectCmsCategoryById" parameterType="Long" resultMap="CmsCategoryResult">
        <include refid="selectCmsCategoryVo"/>
        where category_id = #{categoryId}
    </select>

    <insert id="insertCmsCategory" parameterType="CmsCategory" useGeneratedKeys="true" keyProperty="categoryId">
        insert into cms_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="categoryName != null  and categoryName != ''">category_name,</if>
            <if test="categoryParentId != null ">category_parent_id,</if>
            <if test="categoryAncestors != null  and categoryAncestors != ''">category_ancestors,</if>
            <if test="categorySort != null ">category_sort,</if>
            <if test="categoryDescription != null  and categoryDescription != ''">category_description,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="categoryStatus != null ">category_status,</if>
            <if test="delFlag != null ">del_flag,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="categoryName != null  and categoryName != ''">#{categoryName},</if>
            <if test="categoryParentId != null ">#{categoryParentId},</if>
            <if test="categoryAncestors != null  and categoryAncestors != ''">#{categoryAncestors},</if>
            <if test="categorySort != null ">#{categorySort},</if>
            <if test="categoryDescription != null  and categoryDescription != ''">#{categoryDescription},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="categoryStatus != null ">#{categoryStatus},</if>
            <if test="delFlag != null ">#{delFlag},</if>
        </trim>
    </insert>

    <update id="updateCmsCategory" parameterType="CmsCategory">
        update cms_category
        <trim prefix="SET" suffixOverrides=",">
            <if test="categoryName != null  and categoryName != ''">category_name = #{categoryName},</if>
            <if test="categoryParentId != null ">category_parent_id = #{categoryParentId},</if>
            <if test="categoryAncestors != null  and categoryAncestors != ''">category_ancestors =
                #{categoryAncestors},
            </if>
            <if test="categorySort != null ">category_sort = #{categorySort},</if>
            <if test="categoryDescription != null  and categoryDescription != ''">category_description =
                #{categoryDescription},
            </if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="categoryStatus != null ">category_status = #{categoryStatus},</if>
            <if test="delFlag != null ">del_flag = #{delFlag},</if>
        </trim>
        where category_id = #{categoryId}
    </update>

    <delete id="deleteCmsCategoryById" parameterType="Long">
        delete from cms_category where category_id = #{categoryId}
    </delete>

    <delete id="deleteCmsCategoryByIds" parameterType="String">
        delete from cms_category where category_id in
        <foreach item="categoryId" collection="array" open="(" separator="," close=")">
            #{categoryId}
        </foreach>
    </delete>

</mapper>