<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zebra.bussiness.mapper.ActivityInfoMapper">

    <resultMap type="ActivityInfo" id="ActivityInfoResult">
        <result property="activityId" column="activity_id"/>
        <result property="activityName" column="activity_name"/>
        <result property="categoryId" column="category_id"/>
        <result property="activityImg" column="activity_img"/>
        <result property="activityInfo" column="activity_info"/>
        <result property="activityType" column="activity_type"/>
        <result property="activityAttribute" column="activity_attribute"/>
        <result property="zebraOrder" column="zebra_order"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="dataVerFlag" column="data_ver_flag"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

    <sql id="selectActivityInfoVo">
        select activity_id, activity_name, category_id, activity_img, activity_info, activity_type, activity_attribute, zebra_order, create_time, update_time, update_by, data_ver_flag, del_flag from t_activity_info
    </sql>

    <select id="selectActivityInfoList" parameterType="ActivityInfo" resultMap="ActivityInfoResult">
        <include refid="selectActivityInfoVo"/>
        <where>
            <if test="activityId != null  and activityId != ''">and activity_id = #{activityId}</if>
            <if test="activityName != null  and activityName != ''">and activity_name like concat('%', #{activityName},
                '%')
            </if>
            <if test="categoryId != null ">and category_id = #{categoryId}</if>
            <if test="activityType != null ">and activity_type = #{activityType}</if>
            <if test="activityAttribute != null ">and activity_attribute = #{activityAttribute}</if>
            and del_flag='0'
        </where>
    </select>

    <select id="selectActivityInfoById" parameterType="String" resultMap="ActivityInfoResult">
        <include refid="selectActivityInfoVo"/>
        where activity_id = #{activityId}
    </select>

    <insert id="insertActivityInfo" parameterType="ActivityInfo">
        insert into t_activity_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="activityId != null  and activityId != ''">activity_id,</if>
            <if test="activityName != null  and activityName != ''">activity_name,</if>
            <if test="categoryId != null ">category_id,</if>
            <if test="activityImg != null  and activityImg != ''">activity_img,</if>
            <if test="activityInfo != null  and activityInfo != ''">activity_info,</if>
            <if test="activityType != null ">activity_type,</if>
            <if test="activityAttribute != null ">activity_attribute,</if>
            <if test="zebraOrder != null ">zebra_order,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="dataVerFlag != null ">data_ver_flag,</if>
            <if test="delFlag != null  and delFlag != ''">del_flag,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="activityId != null  and activityId != ''">#{activityId},</if>
            <if test="activityName != null  and activityName != ''">#{activityName},</if>
            <if test="categoryId != null ">#{categoryId},</if>
            <if test="activityImg != null  and activityImg != ''">#{activityImg},</if>
            <if test="activityInfo != null  and activityInfo != ''">#{activityInfo},</if>
            <if test="activityType != null ">#{activityType},</if>
            <if test="activityAttribute != null ">#{activityAttribute},</if>
            <if test="zebraOrder != null ">#{zebraOrder},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="dataVerFlag != null ">#{dataVerFlag},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
        </trim>
    </insert>

    <update id="updateActivityInfo" parameterType="ActivityInfo">
        update t_activity_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="activityName != null  and activityName != ''">activity_name = #{activityName},</if>
            category_id = #{categoryId},
            <if test="activityImg != null  and activityImg != ''">activity_img = #{activityImg},</if>
            <if test="activityInfo != null  and activityInfo != ''">activity_info = #{activityInfo},</if>
            <if test="activityType != null ">activity_type = #{activityType},</if>
            <if test="activityAttribute != null ">activity_attribute = #{activityAttribute},</if>
            <if test="zebraOrder != null ">zebra_order = #{zebraOrder},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="dataVerFlag != null ">data_ver_flag = #{dataVerFlag},</if>
            <if test="delFlag != null  and delFlag != ''">del_flag = #{delFlag},</if>
        </trim>
        where activity_id = #{activityId}
    </update>

    <delete id="deleteActivityInfoById" parameterType="String">
        update t_activity_info set del_flag='2',update_time=sysdate() where activity_id = #{activityId}
    </delete>

    <delete id="deleteActivityInfoByIds" parameterType="String">
        update t_activity_info set del_flag='2',update_time=sysdate() where activity_id in
        <foreach item="activityId" collection="array" open="(" separator="," close=")">
            #{activityId}
        </foreach>
    </delete>

</mapper>