<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zebra.bussiness.mapper.CommodityOrderRefundMapper">
    
    <resultMap type="CommodityOrderRefund" id="CommodityOrderRefundResult">
        <result property="refundId"    column="refund_id"    />
        <result property="refundMoney"    column="refund_money"    />
        <result property="refundStatus"    column="refund_status"    />
        <result property="refundRemarks"    column="refund_remarks"    />
        <result property="userId"    column="user_id"    />
        <result property="orderId"    column="order_id"    />
        <result property="merchantId"    column="merchant_id"    />
        <result property="refundTime"    column="refund_time"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="dataVerFlag"    column="data_ver_flag"    />
    </resultMap>

    <sql id="selectCommodityOrderRefundVo">
        select refund_id, refund_money, refund_status, refund_remarks, user_id, order_id, merchant_id, refund_time, create_time, update_time, update_by, data_ver_flag from t_commodity_order_refund
    </sql>

    <select id="selectCommodityOrderRefundList" parameterType="CommodityOrderRefund" resultMap="CommodityOrderRefundResult">
        <include refid="selectCommodityOrderRefundVo"/>
        <where>  
            <if test="refundId != null  and refundId != ''"> and refund_id = #{refundId}</if>
            <if test="refundMoney != null "> and refund_money = #{refundMoney}</if>
            <if test="refundStatus != null "> and refund_status = #{refundStatus}</if>
            <if test="refundRemarks != null  and refundRemarks != ''"> and refund_remarks = #{refundRemarks}</if>
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
            <if test="orderId != null  and orderId != ''"> and order_id = #{orderId}</if>
            <if test="merchantId != null  and merchantId != ''"> and merchant_id = #{merchantId}</if>
            <if test="refundTime != null "> and refund_time = #{refundTime}</if>
        </where>
    </select>
    
    <select id="selectCommodityOrderRefundById" parameterType="String" resultMap="CommodityOrderRefundResult">
        <include refid="selectCommodityOrderRefundVo"/>
        where refund_id = #{refundId}
    </select>
        
    <insert id="insertCommodityOrderRefund" parameterType="CommodityOrderRefund">
        insert into t_commodity_order_refund
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="refundId != null  and refundId != ''">refund_id,</if>
            <if test="refundMoney != null ">refund_money,</if>
            <if test="refundStatus != null ">refund_status,</if>
            <if test="refundRemarks != null  and refundRemarks != ''">refund_remarks,</if>
            <if test="userId != null  and userId != ''">user_id,</if>
            <if test="orderId != null  and orderId != ''">order_id,</if>
            <if test="merchantId != null  and merchantId != ''">merchant_id,</if>
            <if test="refundTime != null ">refund_time,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="dataVerFlag != null ">data_ver_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="refundId != null  and refundId != ''">#{refundId},</if>
            <if test="refundMoney != null ">#{refundMoney},</if>
            <if test="refundStatus != null ">#{refundStatus},</if>
            <if test="refundRemarks != null  and refundRemarks != ''">#{refundRemarks},</if>
            <if test="userId != null  and userId != ''">#{userId},</if>
            <if test="orderId != null  and orderId != ''">#{orderId},</if>
            <if test="merchantId != null  and merchantId != ''">#{merchantId},</if>
            <if test="refundTime != null ">#{refundTime},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="dataVerFlag != null ">#{dataVerFlag},</if>
         </trim>
    </insert>

    <update id="updateCommodityOrderRefund" parameterType="CommodityOrderRefund">
        update t_commodity_order_refund
        <trim prefix="SET" suffixOverrides=",">
            <if test="refundMoney != null ">refund_money = #{refundMoney},</if>
            <if test="refundStatus != null ">refund_status = #{refundStatus},</if>
            <if test="refundRemarks != null  and refundRemarks != ''">refund_remarks = #{refundRemarks},</if>
            <if test="userId != null  and userId != ''">user_id = #{userId},</if>
            <if test="orderId != null  and orderId != ''">order_id = #{orderId},</if>
            <if test="merchantId != null  and merchantId != ''">merchant_id = #{merchantId},</if>
            <if test="refundTime != null ">refund_time = #{refundTime},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="dataVerFlag != null ">data_ver_flag = #{dataVerFlag},</if>
        </trim>
        where refund_id = #{refundId}
    </update>

    <delete id="deleteCommodityOrderRefundById" parameterType="String">
        delete from t_commodity_order_refund where refund_id = #{refundId}
    </delete>

    <delete id="deleteCommodityOrderRefundByIds" parameterType="String">
        delete from t_commodity_order_refund where refund_id in 
        <foreach item="refundId" collection="array" open="(" separator="," close=")">
            #{refundId}
        </foreach>
    </delete>
    
</mapper>