<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zebra.bussiness.mapper.CommodityInfoMapper">

    <resultMap type="CommodityInfo" id="CommodityInfoResult">
        <result property="commodityId" column="commodity_id"/>
        <result property="commodityName" column="commodity_name"/>
        <result property="commodityBrief" column="commodity_brief"/>
        <result property="commodityIntroduce" column="commodity_introduce"/>
        <result property="commodityMoeny" column="commodity_moeny"/>
        <result property="commodityType" column="commodity_type"/>
        <result property="commodityFreight" column="commodity_freight"/>
        <result property="commodityImg" column="commodity_img"/>
        <result property="commodityAttribute" column="commodity_attribute"/>
        <result property="commodityStatus" column="commodity_status"/>
        <result property="categoryId" column="category_id"/>
        <result property="examineStatus" column="examine_status"/>
        <result property="examineDesc" column="examine_desc"/>
        <result property="commodityCount" column="commodity_count"/>
        <result property="zebraOrder" column="zebra_order"/>
        <result property="merchantId" column="merchant_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="dataVerFlag" column="data_ver_flag"/>
    </resultMap>

    <sql id="selectCommodityInfoVo">
        select commodity_id, commodity_name, commodity_brief, commodity_introduce, commodity_moeny, commodity_type, commodity_freight, commodity_img, commodity_attribute, commodity_status, category_id, examine_status, examine_desc, commodity_count, zebra_order, merchant_id, create_time, update_time, update_by, data_ver_flag from t_commodity_info
    </sql>

    <select id="selectCommodityInfoList" parameterType="CommodityInfo" resultMap="CommodityInfoResult">
        <include refid="selectCommodityInfoVo"/>
        <where>
            <if test="commodityName != null  and commodityName != ''">and commodity_name like concat('%',
                #{commodityName}, '%')
            </if>
            <if test="commodityBrief != null  and commodityBrief != ''">and commodity_brief like concat('%',
                #{commodityBrief}, '%')
            </if>
            <if test="commodityIntroduce != null  and commodityIntroduce != ''">and commodity_introduce like concat('%',
                #{commodityIntroduce}, '%')
            </if>
            <if test="commodityMoeny != null ">and commodity_moeny like concat('%', #{commodityMoeny}, '%')</if>
            <if test="commodityType != null ">and commodity_type = #{commodityType}</if>
            <if test="commodityFreight != null ">and commodity_freight like concat('%', #{commodityFreight}, '%')</if>
            <if test="commodityImg != null  and commodityImg != ''">and commodity_img like concat('%', #{commodityImg},
                '%')
            </if>
            <if test="commodityAttribute != null ">and commodity_attribute like concat('%', #{commodityAttribute},
                '%')
            </if>
            <if test="commodityStatus != null ">and commodity_status like concat('%', #{commodityStatus}, '%')</if>
            <if test="categoryId != null  and categoryId != ''">and category_id like concat('%', #{categoryId}, '%')
            </if>
            <if test="examineStatus != null ">and examine_status like concat('%', #{examineStatus}, '%')</if>
            <if test="examineDesc != null  and examineDesc != ''">and examine_desc like concat('%', #{examineDesc},
                '%')
            </if>
            <if test="commodityCount != null ">and commodity_count like concat('%', #{commodityCount}, '%')</if>
            <if test="zebraOrder != null ">and zebra_order like concat('%', #{zebraOrder}, '%')</if>
            <if test="merchantId != null  and merchantId != ''">and merchant_id like concat('%', #{merchantId}, '%')
            </if>
            <if test="createTime != null ">and create_time like concat('%', #{createTime}, '%')</if>
            <if test="updateTime != null ">and update_time like concat('%', #{updateTime}, '%')</if>
            <if test="updateBy != null  and updateBy != ''">and update_by like concat('%', #{updateBy}, '%')</if>
            <if test="dataVerFlag != null ">and data_ver_flag like concat('%', #{dataVerFlag}, '%')</if>
        </where>
    </select>

    <select id="selectCommodityInfoById" parameterType="String" resultMap="CommodityInfoResult">
        <include refid="selectCommodityInfoVo"/>
        where commodity_id = #{commodityId}
    </select>

    <insert id="insertCommodityInfo" parameterType="CommodityInfo">
        insert into t_commodity_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="commodityId != null  and commodityId != ''">commodity_id,</if>
            <if test="commodityName != null  and commodityName != ''">commodity_name,</if>
            <if test="commodityBrief != null  and commodityBrief != ''">commodity_brief,</if>
            <if test="commodityIntroduce != null  and commodityIntroduce != ''">commodity_introduce,</if>
            <if test="commodityMoeny != null ">commodity_moeny,</if>
            <if test="commodityType != null ">commodity_type,</if>
            <if test="commodityFreight != null ">commodity_freight,</if>
            <if test="commodityImg != null  and commodityImg != ''">commodity_img,</if>
            <if test="commodityAttribute != null ">commodity_attribute,</if>
            <if test="commodityStatus != null ">commodity_status,</if>
            <if test="categoryId != null  and categoryId != ''">category_id,</if>
            <if test="examineStatus != null ">examine_status,</if>
            <if test="examineDesc != null  and examineDesc != ''">examine_desc,</if>
            <if test="commodityCount != null ">commodity_count,</if>
            <if test="zebraOrder != null ">zebra_order,</if>
            <if test="merchantId != null  and merchantId != ''">merchant_id,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="dataVerFlag != null ">data_ver_flag,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="commodityId != null  and commodityId != ''">#{commodityId},</if>
            <if test="commodityName != null  and commodityName != ''">#{commodityName},</if>
            <if test="commodityBrief != null  and commodityBrief != ''">#{commodityBrief},</if>
            <if test="commodityIntroduce != null  and commodityIntroduce != ''">#{commodityIntroduce},</if>
            <if test="commodityMoeny != null ">#{commodityMoeny},</if>
            <if test="commodityType != null ">#{commodityType},</if>
            <if test="commodityFreight != null ">#{commodityFreight},</if>
            <if test="commodityImg != null  and commodityImg != ''">#{commodityImg},</if>
            <if test="commodityAttribute != null ">#{commodityAttribute},</if>
            <if test="commodityStatus != null ">#{commodityStatus},</if>
            <if test="categoryId != null  and categoryId != ''">#{categoryId},</if>
            <if test="examineStatus != null ">#{examineStatus},</if>
            <if test="examineDesc != null  and examineDesc != ''">#{examineDesc},</if>
            <if test="commodityCount != null ">#{commodityCount},</if>
            <if test="zebraOrder != null ">#{zebraOrder},</if>
            <if test="merchantId != null  and merchantId != ''">#{merchantId},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="dataVerFlag != null ">#{dataVerFlag},</if>
        </trim>
    </insert>

    <update id="updateCommodityInfo" parameterType="CommodityInfo">
        update t_commodity_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="commodityName != null  and commodityName != ''">commodity_name = #{commodityName},</if>
            <if test="commodityBrief != null  and commodityBrief != ''">commodity_brief = #{commodityBrief},</if>
            <if test="commodityIntroduce != null  and commodityIntroduce != ''">commodity_introduce =
                #{commodityIntroduce},
            </if>
            <if test="commodityMoeny != null ">commodity_moeny = #{commodityMoeny},</if>
            <if test="commodityType != null ">commodity_type = #{commodityType},</if>
            <if test="commodityFreight != null ">commodity_freight = #{commodityFreight},</if>
            <if test="commodityImg != null  and commodityImg != ''">commodity_img = #{commodityImg},</if>
            <if test="commodityAttribute != null ">commodity_attribute = #{commodityAttribute},</if>
            <if test="commodityStatus != null ">commodity_status = #{commodityStatus},</if>
            <if test="categoryId != null  and categoryId != ''">category_id = #{categoryId},</if>
            <if test="examineStatus != null ">examine_status = #{examineStatus},</if>
            <if test="examineDesc != null  and examineDesc != ''">examine_desc = #{examineDesc},</if>
            <if test="commodityCount != null ">commodity_count = #{commodityCount},</if>
            <if test="zebraOrder != null ">zebra_order = #{zebraOrder},</if>
            <if test="merchantId != null  and merchantId != ''">merchant_id = #{merchantId},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="dataVerFlag != null ">data_ver_flag = #{dataVerFlag},</if>
        </trim>
        where commodity_id = #{commodityId}
    </update>

    <delete id="deleteCommodityInfoById" parameterType="String">
        delete from t_commodity_info where commodity_id = #{commodityId}
    </delete>

    <delete id="deleteCommodityInfoByIds" parameterType="String">
        delete from t_commodity_info where commodity_id in
        <foreach item="commodityId" collection="array" open="(" separator="," close=")">
            #{commodityId}
        </foreach>
    </delete>

</mapper>