<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zebra.bussiness.mapper.UserAccountMapper">
    
    <resultMap type="UserAccount" id="UserAccountResult">
        <result property="accountId"    column="account_id"    />
        <result property="accountIntegral"    column="account_integral"    />
        <result property="accountBalance"    column="account_balance"    />
        <result property="accountIntegralAll"    column="account_integral_all"    />
        <result property="accountStatus"    column="account_status"    />
        <result property="accountRemarks"    column="account_remarks"    />
        <result property="userId"    column="user_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <sql id="selectUserAccountVo">
        select account_id, account_integral, account_balance, account_integral_all, account_status, account_remarks, user_id, create_time, update_time, update_by from t_user_account
    </sql>

    <select id="selectUserAccountList" parameterType="UserAccount" resultMap="UserAccountResult">
        <include refid="selectUserAccountVo"/>
        <where>  
            <if test="accountId != null  and accountId != ''"> and account_id = #{accountId}</if>
            <if test="accountStatus != null "> and account_status = #{accountStatus}</if>
            <if test="accountRemarks != null  and accountRemarks != ''"> and account_remarks = #{accountRemarks}</if>
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
        </where>
    </select>
    
    <select id="selectUserAccountById" parameterType="String" resultMap="UserAccountResult">
        <include refid="selectUserAccountVo"/>
        where account_id = #{accountId}
    </select>
        
    <insert id="insertUserAccount" parameterType="UserAccount">
        insert into t_user_account
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="accountId != null  and accountId != ''">account_id,</if>
            <if test="accountIntegral != null ">account_integral,</if>
            <if test="accountBalance != null ">account_balance,</if>
            <if test="accountIntegralAll != null ">account_integral_all,</if>
            <if test="accountStatus != null ">account_status,</if>
            <if test="accountRemarks != null  and accountRemarks != ''">account_remarks,</if>
            <if test="userId != null  and userId != ''">user_id,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="accountId != null  and accountId != ''">#{accountId},</if>
            <if test="accountIntegral != null ">#{accountIntegral},</if>
            <if test="accountBalance != null ">#{accountBalance},</if>
            <if test="accountIntegralAll != null ">#{accountIntegralAll},</if>
            <if test="accountStatus != null ">#{accountStatus},</if>
            <if test="accountRemarks != null  and accountRemarks != ''">#{accountRemarks},</if>
            <if test="userId != null  and userId != ''">#{userId},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
         </trim>
    </insert>

    <update id="updateUserAccount" parameterType="UserAccount">
        update t_user_account
        <trim prefix="SET" suffixOverrides=",">
            <if test="accountIntegral != null ">account_integral = #{accountIntegral},</if>
            <if test="accountBalance != null ">account_balance = #{accountBalance},</if>
            <if test="accountIntegralAll != null ">account_integral_all = #{accountIntegralAll},</if>
            <if test="accountStatus != null ">account_status = #{accountStatus},</if>
            <if test="accountRemarks != null  and accountRemarks != ''">account_remarks = #{accountRemarks},</if>
            <if test="userId != null  and userId != ''">user_id = #{userId},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
        </trim>
        where account_id = #{accountId}
    </update>

    <delete id="deleteUserAccountById" parameterType="String">
        delete from t_user_account where account_id = #{accountId}
    </delete>

    <delete id="deleteUserAccountByIds" parameterType="String">
        delete from t_user_account where account_id in 
        <foreach item="accountId" collection="array" open="(" separator="," close=")">
            #{accountId}
        </foreach>
    </delete>
    
</mapper>