<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zebra.bussiness.cms.mapper.CmsBlacklistMapper">
    
    <resultMap type="CmsBlacklist" id="CmsBlacklistResult">
        <result property="blacklistId"    column="blacklist_id"    />
        <result property="blacklistType"    column="blacklist_type"    />
        <result property="aubotId"    column="aubot_id"    />
        <result property="aubotInfo"    column="aubot_info"    />
        <result property="userId"    column="user_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="merchantId"    column="merchant_id"    />
        <result property="updateBy"    column="update_by"    />
        <result property="otherInfo"    column="other_info"    />
    </resultMap>

    <sql id="selectCmsBlacklistVo">
        select blacklist_id, blacklist_type, aubot_id, aubot_info, user_id, create_time, update_time, merchant_id, update_by, other_info from cms_blacklist
    </sql>

    <select id="selectCmsBlacklistList" parameterType="CmsBlacklist" resultMap="CmsBlacklistResult">
        <include refid="selectCmsBlacklistVo"/>
        <where>  
            <if test="blacklistType != null "> and blacklist_type = #{blacklistType}</if>
            <if test="aubotId != null  and aubotId != ''"> and aubot_id = #{aubotId}</if>
            <if test="aubotInfo != null  and aubotInfo != ''"> and aubot_info = #{aubotInfo}</if>
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
            <if test="merchantId != null  and merchantId != ''"> and merchant_id = #{merchantId}</if>
            <if test="otherInfo != null  and otherInfo != ''"> and other_info = #{otherInfo}</if>
        </where>
    </select>
    
    <select id="selectCmsBlacklistById" parameterType="Integer" resultMap="CmsBlacklistResult">
        <include refid="selectCmsBlacklistVo"/>
        where blacklist_id = #{blacklistId}
    </select>
        
    <insert id="insertCmsBlacklist" parameterType="CmsBlacklist">
        insert into cms_blacklist
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="blacklistId != null ">blacklist_id,</if>
            <if test="blacklistType != null ">blacklist_type,</if>
            <if test="aubotId != null  and aubotId != ''">aubot_id,</if>
            <if test="aubotInfo != null  and aubotInfo != ''">aubot_info,</if>
            <if test="userId != null  and userId != ''">user_id,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="merchantId != null  and merchantId != ''">merchant_id,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="otherInfo != null  and otherInfo != ''">other_info,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="blacklistId != null ">#{blacklistId},</if>
            <if test="blacklistType != null ">#{blacklistType},</if>
            <if test="aubotId != null  and aubotId != ''">#{aubotId},</if>
            <if test="aubotInfo != null  and aubotInfo != ''">#{aubotInfo},</if>
            <if test="userId != null  and userId != ''">#{userId},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="merchantId != null  and merchantId != ''">#{merchantId},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="otherInfo != null  and otherInfo != ''">#{otherInfo},</if>
         </trim>
    </insert>

    <update id="updateCmsBlacklist" parameterType="CmsBlacklist">
        update cms_blacklist
        <trim prefix="SET" suffixOverrides=",">
            <if test="blacklistType != null ">blacklist_type = #{blacklistType},</if>
            <if test="aubotId != null  and aubotId != ''">aubot_id = #{aubotId},</if>
            <if test="aubotInfo != null  and aubotInfo != ''">aubot_info = #{aubotInfo},</if>
            <if test="userId != null  and userId != ''">user_id = #{userId},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="merchantId != null  and merchantId != ''">merchant_id = #{merchantId},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="otherInfo != null  and otherInfo != ''">other_info = #{otherInfo},</if>
        </trim>
        where blacklist_id = #{blacklistId}
    </update>

    <delete id="deleteCmsBlacklistById" parameterType="Integer">
        delete from cms_blacklist where blacklist_id = #{blacklistId}
    </delete>

    <delete id="deleteCmsBlacklistByIds" parameterType="String">
        delete from cms_blacklist where blacklist_id in 
        <foreach item="blacklistId" collection="array" open="(" separator="," close=")">
            #{blacklistId}
        </foreach>
    </delete>
    
</mapper>