<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zebra.bussiness.cms.mapper.CmsMaterialGroupMapper">
    
    <resultMap type="CmsMaterialGroup" id="CmsMaterialGroupResult">
        <result property="groupId"    column="group_id"    />
        <result property="groupParentId"    column="group_parent_id"    />
        <result property="groupName"    column="group_name"    />
        <result property="groupdEscription"    column="groupd_escription"    />
        <result property="groupSort"    column="group_sort"    />
        <result property="updateBy"    column="update_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectCmsMaterialGroupVo">
        select group_id, group_parent_id, group_name, groupd_escription, group_sort, update_by, create_time, update_time from cms_material_group
    </sql>

    <select id="selectCmsMaterialGroupList" parameterType="CmsMaterialGroup" resultMap="CmsMaterialGroupResult">
        <include refid="selectCmsMaterialGroupVo"/>
        <where>  
            <if test="groupParentId != null "> and group_parent_id = #{groupParentId}</if>
            <if test="groupName != null  and groupName != ''"> and group_name like concat('%', #{groupName}, '%')</if>
            <if test="groupdEscription != null  and groupdEscription != ''"> and groupd_escription = #{groupdEscription}</if>
            <if test="groupSort != null "> and group_sort = #{groupSort}</if>
            <if test="updateBy != null  and updateBy != ''"> and update_by = #{updateBy}</if>
            <if test="createTime != null "> and create_time = #{createTime}</if>
            <if test="updateTime != null "> and update_time = #{updateTime}</if>
        </where>
    </select>
    
    <select id="selectCmsMaterialGroupById" parameterType="String" resultMap="CmsMaterialGroupResult">
        <include refid="selectCmsMaterialGroupVo"/>
        where group_id = #{groupId}
    </select>
        
    <insert id="insertCmsMaterialGroup" parameterType="CmsMaterialGroup">
        insert into cms_material_group
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="groupId != null  and groupId != ''">group_id,</if>
            <if test="groupParentId != null ">group_parent_id,</if>
            <if test="groupName != null  and groupName != ''">group_name,</if>
            <if test="groupdEscription != null  and groupdEscription != ''">groupd_escription,</if>
            <if test="groupSort != null ">group_sort,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="groupId != null  and groupId != ''">#{groupId},</if>
            <if test="groupParentId != null ">#{groupParentId},</if>
            <if test="groupName != null  and groupName != ''">#{groupName},</if>
            <if test="groupdEscription != null  and groupdEscription != ''">#{groupdEscription},</if>
            <if test="groupSort != null ">#{groupSort},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateCmsMaterialGroup" parameterType="CmsMaterialGroup">
        update cms_material_group
        <trim prefix="SET" suffixOverrides=",">
            <if test="groupParentId != null ">group_parent_id = #{groupParentId},</if>
            <if test="groupName != null  and groupName != ''">group_name = #{groupName},</if>
            <if test="groupdEscription != null  and groupdEscription != ''">groupd_escription = #{groupdEscription},</if>
            <if test="groupSort != null ">group_sort = #{groupSort},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where group_id = #{groupId}
    </update>

    <delete id="deleteCmsMaterialGroupById" parameterType="String">
        delete from cms_material_group where group_id = #{groupId}
    </delete>

    <delete id="deleteCmsMaterialGroupByIds" parameterType="String">
        delete from cms_material_group where group_id in 
        <foreach item="groupId" collection="array" open="(" separator="," close=")">
            #{groupId}
        </foreach>
    </delete>
    
</mapper>