<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zebra.bussiness.cms.mapper.CmsArticleMapper">

    <resultMap type="CmsArticle" id="CmsArticleResult">
        <result property="articleId" column="article_id"/>
        <result property="articleAuthor" column="article_author"/>
        <result property="articleTitle" column="article_title"/>
        <result property="articleStatus" column="article_status"/>
        <result property="articleKeywords" column="article_keywords"/>
        <result property="articleDescription" column="article_description"/>
        <result property="materialId" column="material_id"/>
        <result property="categoryId" column="category_id"/>
        <result property="copyFlag" column="copy_flag"/>
        <result property="articleLink" column="article_link"/>
        <result property="staticUrl" column="static_url"/>
        <result property="articleTags" column="article_tags"/>
        <result property="hotFlag" column="hot_flag"/>
        <result property="commentFlag" column="comment_flag"/>
        <result property="topFlag" column="top_flag"/>
        <result property="templateName" column="template_name"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="merchantId" column="merchant_id"/>
        <result property="updateBy" column="update_by"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

    <sql id="selectCmsArticleVo">
        select article_id, article_author, article_title, article_status, article_keywords, article_description, material_id, category_id, copy_flag, article_link, static_url, article_tags, hot_flag, comment_flag, top_flag, template_name, create_time, update_time, merchant_id, update_by, del_flag from cms_article
    </sql>

    <select id="selectCmsArticleList" parameterType="CmsArticle" resultMap="CmsArticleResult">
        <include refid="selectCmsArticleVo"/>
        <where>
            <if test="articleAuthor != null  and articleAuthor != ''">and article_author = #{articleAuthor}</if>
            <if test="articleTitle != null  and articleTitle != ''">and article_title like concat('%', #{articleTitle},
                '%')
            </if>
            <if test="articleStatus != null ">and article_status = #{articleStatus}</if>
            <if test="articleDescription != null  and articleDescription != ''">and article_description =
                #{articleDescription}
            </if>
            <if test="materialId != null  and materialId != ''">and material_id = #{materialId}</if>
            <if test="categoryId != null  and categoryId != ''">and category_id = #{categoryId}</if>
            <if test="copyFlag != null ">and copy_flag = #{copyFlag}</if>
            <if test="hotFlag != null ">and hot_flag = #{hotFlag}</if>
            <if test="commentFlag != null ">and comment_flag = #{commentFlag}</if>
            <if test="topFlag != null ">and top_flag = #{topFlag}</if>
            <if test="createTime != null ">and create_time = #{createTime}</if>
            <if test="updateTime != null ">and update_time = #{updateTime}</if>
            <if test="merchantId != null  and merchantId != ''">and merchant_id = #{merchantId}</if>
            and del_flag=0
        </where>
    </select>

    <select id="selectCmsArticleById" parameterType="String" resultMap="CmsArticleResult">
        <include refid="selectCmsArticleVo"/>
        where article_id = #{articleId}
    </select>

    <insert id="insertCmsArticle" parameterType="CmsArticle">
        insert into cms_article
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="articleId != null  and articleId != ''">article_id,</if>
            <if test="articleAuthor != null  and articleAuthor != ''">article_author,</if>
            <if test="articleTitle != null  and articleTitle != ''">article_title,</if>
            <if test="articleStatus != null ">article_status,</if>
            <if test="articleKeywords != null  and articleKeywords != ''">article_keywords,</if>
            <if test="articleDescription != null  and articleDescription != ''">article_description,</if>
            <if test="materialId != null  and materialId != ''">material_id,</if>
            <if test="categoryId != null  and categoryId != ''">category_id,</if>
            <if test="copyFlag != null ">copy_flag,</if>
            <if test="articleLink != null  and articleLink != ''">article_link,</if>
            <if test="staticUrl != null  and staticUrl != ''">static_url,</if>
            <if test="articleTags != null  and articleTags != ''">article_tags,</if>
            <if test="hotFlag != null ">hot_flag,</if>
            <if test="commentFlag != null ">comment_flag,</if>
            <if test="topFlag != null ">top_flag,</if>
            <if test="templateName != null  and templateName != ''">template_name,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="merchantId != null  and merchantId != ''">merchant_id,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="delFlag != null ">del_flag,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="articleId != null  and articleId != ''">#{articleId},</if>
            <if test="articleAuthor != null  and articleAuthor != ''">#{articleAuthor},</if>
            <if test="articleTitle != null  and articleTitle != ''">#{articleTitle},</if>
            <if test="articleStatus != null ">#{articleStatus},</if>
            <if test="articleKeywords != null  and articleKeywords != ''">#{articleKeywords},</if>
            <if test="articleDescription != null  and articleDescription != ''">#{articleDescription},</if>
            <if test="materialId != null  and materialId != ''">#{materialId},</if>
            <if test="categoryId != null  and categoryId != ''">#{categoryId},</if>
            <if test="copyFlag != null ">#{copyFlag},</if>
            <if test="articleLink != null  and articleLink != ''">#{articleLink},</if>
            <if test="staticUrl != null  and staticUrl != ''">#{staticUrl},</if>
            <if test="articleTags != null  and articleTags != ''">#{articleTags},</if>
            <if test="hotFlag != null ">#{hotFlag},</if>
            <if test="commentFlag != null ">#{commentFlag},</if>
            <if test="topFlag != null ">#{topFlag},</if>
            <if test="templateName != null  and templateName != ''">#{templateName},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="merchantId != null  and merchantId != ''">#{merchantId},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="delFlag != null ">#{delFlag},</if>
        </trim>
    </insert>

    <update id="updateCmsArticle" parameterType="CmsArticle">
        update cms_article
        <trim prefix="SET" suffixOverrides=",">
            <if test="articleAuthor != null  and articleAuthor != ''">article_author = #{articleAuthor},</if>
            <if test="articleTitle != null  and articleTitle != ''">article_title = #{articleTitle},</if>
            <if test="articleStatus != null ">article_status = #{articleStatus},</if>
            <if test="articleKeywords != null  and articleKeywords != ''">article_keywords = #{articleKeywords},</if>
            <if test="articleDescription != null  and articleDescription != ''">article_description =
                #{articleDescription},
            </if>
            <if test="materialId != null  and materialId != ''">material_id = #{materialId},</if>
            <if test="categoryId != null  and categoryId != ''">category_id = #{categoryId},</if>
            <if test="copyFlag != null ">copy_flag = #{copyFlag},</if>
            <if test="articleLink != null  and articleLink != ''">article_link = #{articleLink},</if>
            <if test="staticUrl != null  and staticUrl != ''">static_url = #{staticUrl},</if>
            <if test="articleTags != null  and articleTags != ''">article_tags = #{articleTags},</if>
            <if test="hotFlag != null ">hot_flag = #{hotFlag},</if>
            <if test="commentFlag != null ">comment_flag = #{commentFlag},</if>
            <if test="topFlag != null ">top_flag = #{topFlag},</if>
            <if test="templateName != null  and templateName != ''">template_name = #{templateName},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="merchantId != null  and merchantId != ''">merchant_id = #{merchantId},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="delFlag != null ">del_flag = #{delFlag},</if>
        </trim>
        where article_id = #{articleId}
    </update>

    <delete id="deleteCmsArticleById" parameterType="String">
        delete from cms_article where article_id = #{articleId}
    </delete>

    <delete id="deleteCmsArticleByIds" parameterType="String">
        update from cms_article SET del_flag =1 where article_id in
        <foreach item="articleId" collection="array" open="(" separator="," close=")">
            #{articleId}
        </foreach>
    </delete>

</mapper>