<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zebra.bussiness.cms.mapper.CmsArticleTemplateMapper">
    
    <resultMap type="CmsArticleTemplate" id="CmsArticleTemplateResult">
        <result property="templeId"    column="temple_id"    />
        <result property="templeName"    column="temple_name"    />
        <result property="templeContent"    column="temple_content"    />
        <result property="auditState"    column="audit_state"    />
        <result property="auditReason"    column="audit_reason"    />
        <result property="auditTime"    column="audit_time"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="merchantId"    column="merchant_id"    />
        <result property="updateBy"    column="update_by"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectCmsArticleTemplateVo">
        select temple_id, temple_name, temple_content, audit_state, audit_reason, audit_time, create_time, update_time, merchant_id, update_by, del_flag from cms_article_template
    </sql>

    <select id="selectCmsArticleTemplateList" parameterType="CmsArticleTemplate" resultMap="CmsArticleTemplateResult">
        <include refid="selectCmsArticleTemplateVo"/>
        <where>  
            <if test="templeName != null  and templeName != ''"> and temple_name like concat('%', #{templeName}, '%')</if>
            <if test="auditState != null "> and audit_state = #{auditState}</if>
        </where>
    </select>
    
    <select id="selectCmsArticleTemplateById" parameterType="Long" resultMap="CmsArticleTemplateResult">
        <include refid="selectCmsArticleTemplateVo"/>
        where temple_id = #{templeId}
    </select>
        
    <insert id="insertCmsArticleTemplate" parameterType="CmsArticleTemplate" useGeneratedKeys="true" keyProperty="templeId">
        insert into cms_article_template
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="templeName != null  and templeName != ''">temple_name,</if>
            <if test="templeContent != null  and templeContent != ''">temple_content,</if>
            <if test="auditState != null ">audit_state,</if>
            <if test="auditReason != null  and auditReason != ''">audit_reason,</if>
            <if test="auditTime != null ">audit_time,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="merchantId != null  and merchantId != ''">merchant_id,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="delFlag != null ">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="templeName != null  and templeName != ''">#{templeName},</if>
            <if test="templeContent != null  and templeContent != ''">#{templeContent},</if>
            <if test="auditState != null ">#{auditState},</if>
            <if test="auditReason != null  and auditReason != ''">#{auditReason},</if>
            <if test="auditTime != null ">#{auditTime},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="merchantId != null  and merchantId != ''">#{merchantId},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="delFlag != null ">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateCmsArticleTemplate" parameterType="CmsArticleTemplate">
        update cms_article_template
        <trim prefix="SET" suffixOverrides=",">
            <if test="templeName != null  and templeName != ''">temple_name = #{templeName},</if>
            <if test="templeContent != null  and templeContent != ''">temple_content = #{templeContent},</if>
            <if test="auditState != null ">audit_state = #{auditState},</if>
            <if test="auditReason != null  and auditReason != ''">audit_reason = #{auditReason},</if>
            <if test="auditTime != null ">audit_time = #{auditTime},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="merchantId != null  and merchantId != ''">merchant_id = #{merchantId},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="delFlag != null ">del_flag = #{delFlag},</if>
        </trim>
        where temple_id = #{templeId}
    </update>

    <delete id="deleteCmsArticleTemplateById" parameterType="Long">
        delete from cms_article_template where temple_id = #{templeId}
    </delete>

    <delete id="deleteCmsArticleTemplateByIds" parameterType="String">
        delete from cms_article_template where temple_id in 
        <foreach item="templeId" collection="array" open="(" separator="," close=")">
            #{templeId}
        </foreach>
    </delete>
    
</mapper>